<html ng-app="app">
	<body ng-controller="mainCtrl">

		<input type="text" ng-model="myFilter">
		<div>
			<ul>
				<li ng-repeat="datum in displayData | filter: myFilter">
					 Name:	{{datum.name}} <br>
					 Email: {{datum.email}} <br> Date Employed: {{ datum.dateEmployed }} <br> Phone: {{datum.phone}}
				</li>
			</ul>
		</div>

		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
		<script src="app.js"></script>
		<script src="controller.js"></script>
		<script src="service.js"></script>
	</body>
</html>
